.header
{
	height: 300px;
	position: relative;
	width: 100%;
}

.header_h1
{
	font-family: Segoe UI;
	font-weight: Lighter;
	font-size: 70px;
	position: relative;
	margin: 0;
}

.header_h2
{
	font-family: Segoe UI;
	font-weight: Lighter;
	font-size: 25px;
	position: relative;
	margin: 0;
}